{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>initHighlightingOnLoad();</script>
{% endblock %}

{% block body %}
{% for i in testing %}
    <div>
        <div>
            <pre><code>{{ testcode }}</code></pre>
        </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col s6">
                    This Is My COde.
                </div>
                <div class="col s6" align="right">
                        <a class="waves-effect waves-light btn"><i class="material-icons left">thumb_up</i>Like</a>
                        <a class="waves-effect waves-light btn modal-trigger" href="#comment{{ i }}"><i class="material-icons left">view_headline</i>Comment</a>
                </div>
            </div>
    </div>

    <script>
        $(document).ready(function(){
        $('.comment{{ i }}').leanModal();
  });

    </script>


  <!-- Modal Structure -->
  <div id="comment{{ i }}" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Modal Header Content</h4>
      <p>This code is really bad</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    </div>
  </div>

{% endfor %}





    <script>
        $(document).ready(function(){
        $('.modal-trigger').leanModal();
  });

    </script>

{% endblock %}

