{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/default.css">
    <script src="/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>



{% endblock %}

{% block body %}
{% for data in Alldata %}
    <div>
    <h5>{{ data.title }}</h5>

        {% for tag in tag_data[data.id] %}
      <a href="/?tag={{ tag.content }}"><div class="chip">
        {{ tag.content }}
      </div></a>
        {% endfor %}


        <div>
            <pre><code>{{ data.code }}</code></pre>
        </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col s6">
                    {% if data.content|length >= 80 %}
                        <span id='long_content_preview{{ data.id }}'>{{ data.content[:30] }}</span>
                    <a onclick="this.nextSibling.style.display='block';this.innerHTML='';document.getElementById('long_content_preview{{ data.id }}').innerHTML=''"; href='javascript:void(0)'>More</a><DIV style='display:none'>
                        {{ data.content }}
                    <a onclick="this.parentNode.style.display='none';this.parentNode.previousSibling.innerHTML='More';document.getElementById('long_content_preview{{ data.id }}').innerHTML='{{ data.content[:30] }}'" href=javascript:void(0)><br>Close</a></DIV>
                    {% else %}
                    {{ data.content }}

                    {% endif %}
                </div>
                <div class="col s6" align="right">
                        <a class="waves-effect waves-light btn"><i class="material-icons left">thumb_up</i>Like</a>
                        <a class="waves-effect waves-light btn modal-trigger" href="#comment{{ data.id }}"><i class="material-icons left">view_headline</i>Comment</a>
                </div>
            </div>
    </div>

    <script>
        $(document).ready(function(){
        $('.comment{{ data.id }}').leanModal();
  });

    </script>


  <!-- Modal Structure -->
  <div id="comment{{ data.id }}" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div style="width: 100%; height: 60%;">
            <iframe src="/article/answer?article={{ data.id }}" style="width: 100%;height: 100%;" frameborder=0 framespacing=0 marginheight=0 marginwidth=0 scrolling=yes vspace=0>This Browser does not support this feature</iframe>
        </div>




        <div style="width: 100%;">
            <form action="/article/answer" method="post">
                <label for="content"><br>Answer</label>
                <input type="hidden" name="article" value="{{ data.id }}">
                <textarea id="content{{ data.id }}" name="answer" class="materialize-textarea" tabindex="1"></textarea>
                {% if login %}
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
                {% else %}
                <button disabled class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
                <a href="/user/login">Login User Only!!</a>
                {% endif %}
            </form>
        </div>

    </div>



    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
    </div>
  </div>



{% endfor %}





    <script>
        $(document).ready(function(){
        $('.modal-trigger').leanModal();
  });

    </script>



{% endblock %}

