{% extends "base.html" %}

{%  block body %}

    <form action="write" method="post">
        <label for="article_title">Title</label>
        <input id="article_title" type="text" name="title">

        <label for="textarea0">Code</label>
        <textarea id="textarea0" name="code" class="materialize-textarea"></textarea>

        <label for="textarea1">Content</label>
        <textarea id="textarea1" name="content" class="materialize-textarea"></textarea>
        <div style="width: 100%; height: auto;" align="right">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>


{% endblock %}